.main {
  margin-top: 150px;

  .table {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    border-collapse: separate;

    .delet-rows {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 25px;
      height: 85%;
      cursor: pointer;
      background-image: url("../../img/icon/basket.png");
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: transparent;

      &:hover {
        background-image: url("../../img/icon/basket_open.png");
      }
    }

    tr {
      position: relative;
    }

    th {
      padding: 5px 2px;
      background-color: $tableHeaderColor;
      color: $colorTextWhile;
      font-family: $fontFamali;
      font-size: $fontSizeNormal;
      font-weight: 700;

      &:nth-child(1) {
        background-color: transparent;
        width: 30px;
      }

      &:nth-child(2) {
        width: 30px;
      }

      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7) {
        width: 150px;
      }
    }

    td {
      border: 2px solid #000000;
      text-align: center;
      align-items: center;
      background-color: $colorWhile;
      color: $colorTextBlack;
      font-family: $fontFamali;
      font-size: $fontSizeNormal;

      &:nth-child(1) {
        border: none;
      }
    }
  }
}