@import "./variables.scss";
@import "./lib/normalize.scss";
@import "./components/index.scss";

#root {
  height: 100%;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: $colorHeader;
}