$while: #fff;
$black: #000;

$textWhile: #fff;
$textBlack: #000;

$colorTable: #1266C9;
$colorTableBG: #fff;
$colorError: #1266C9;
$colorHeader: #1266C9;
$colorModal: #fff;

$hoverBtn: rgba(187, 187, 187, 0.4);

$borderTable: #000;

$errorColorBG: rgba(195, 46, 46, 0.392);
$errorColorBorder: 2px solid rgb(195, 46, 46);
$errorColorLine: rgb(195, 46, 46);
$readyColorBG: rgb(46, 195, 46);
$readyColorBorder: 2px solid rgb(46, 195, 56);
$readyColorLine: rgb(46, 195, 46);


$familyTable: Arial, Helvetica, sans-serif;
$familyText: Arial, Helvetica, sans-serif;
$familyTitle: Arial, Helvetica, sans-serif;

$sizeText: 12px;
$sizeTable: 12px;
$sizeTableTitle: 12px;
$sizeTableHeader: 12px;
$sizeTitle: 12px;

$WeightFamilyMini: 300;
$WeightFamilyNormal: 400;
$WeightFamilyBig: 700;
$WeightFamilyBlack: 900;