$fontFamali: Arial;
$fontSizeNormal: 16px;
$fontSizeMini: 12px;
$fontSizeBig: 20px;
$colorTextWhile: #fff;
$colorWhile: #fff;
$colorBlack: #252525;
$colorTextBlack: #252525;
$colorButton: #1266C9;
$colorBackgroundHeader: #1266C9;
$colorBorderHeader: 4px solid #1266C9;
$tableBodyColor: 6px solid #1266C9;
$tableHeaderColor: #1266C9;